[workspace]
members = ["crates/libsabledb", "crates/sabledb", "submodules/benchmark/common", "submodules/benchmark/sabledb-benchmark", "crates/sdb-cli", "crates/sdb-admin"]
resolver = "2"

[profile.release]
lto = true
codegen-units = 1
strip = "symbols"
